<% @obj_a ||= nil %>
<% @title ||= "XBRL" %>
<% @link_path_sym ||= nil %>
<% @source_url ||= nil %>
<% @target ||= nil %>

<h1><%= @title %></h1>
<% if !@obj_a.is_a?(Array) || @obj_a.size == 0 %>
  <h3>No entries</h3>
<% else %>
  <table>
    <% @obj_a.reverse.each do |obj| %>
      <tr>
        <% url = obj.is_a?(Hash) ? obj[:url] : obj %>
        <% parent_url = url.split('/')[0..-2].join('/') %>
        <% name = obj.is_a?(Hash) ? obj[:name] : obj %>
        <td><%= link_to name, (@link_path_sym.blank? ? url : send(@link_path_sym, {url: url, source_url: @source_url})), class: "monthly-archive-list-item", target: @target %></td>
        <td><%= link_to 'Get All Files Links', parent_url, target: "_blank" %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to "Monthly Archive List", root_url %> | 
<%= begin link_to "Back", :back rescue link_to "Back", root_url end %>
